.myrequest__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.myrequest__card {
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    text-align: center;
    row-gap: 0.4rem;
    padding: 0.5rem 1rem;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1);
}

.myrequest__card h3 {
    margin-bottom: 1rem;
}

.button-delete{
    background-color: transparent;
    border: none;
}

.button__icon-delete{
    cursor: pointer;
    color: var(--secondary-color);
    font-size: 2rem;
}

.button__icon-delete:hover{
    color: var(--primary-color);
}

.button-republish {
    cursor: pointer;
    box-shadow: 3px 3px 6px 2px rgba(46,39,39,0.21);
    padding: 0.5rem;
    border: solid 1px var(--primary-color);
    border-radius: 1rem;
    background: rgb(150,136,100);
    background: linear-gradient(145deg, rgba(150,136,100,1) 0%, rgba(237,228,205,1) 100%);
}

.button-republish:hover{
    background: hsla(0, 0%, 100%, 0.119); 

}

@media (max-width:426px) {
    .myrequest__grid{
        grid-template-columns: 1fr;
    }
}